<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.mapper.CuringMapper">

    <select id="getAll" resultType="com.zf.pojo.Curing">
        select * from `curing`
    </select>

    <select id="get" parameterType="int" resultType="com.zf.pojo.Curing">
        select * from `curing` where id=#{id}
    </select>

    <insert id="insert" parameterType="com.zf.pojo.Curing">
        insert into `curing` (`imagepath`,`name`,`status`,`expected`,`actual`,`fertilizer_num`,`pesticides_num`,`seedling_num`,`schedule`,`date`,`remarks`,`fertilizer_id`,`pesticides_id`,`seedling_id`)
         values
                (#{imagepath},#{name},#{status},#{expected},#{actual},#{fertilizer_num},#{pesticides_num},#{seedling_num},#{schedule},#{date},#{remarks},#{fertilizer_id},#{pesticides_id},#{seedling_num})
    </insert>

    <delete id="delete" parameterType="int">
        delete from `curing` where id=#{id}
    </delete>

    <update id="update" parameterType="com.zf.pojo.Curing">
        update `curing` set
            imagepath=#{imagepath},
            status=#{status},
            expected=#{expected},
            actual=#{actual},
            fertilizer_num=#{fertilizer_num},
            pesticides_num=#{pesticides_num},
            seedling_num=#{seedling_num},
            schedule=#{schedule},
            name=#{name},
            fertilizer_id=#{fertilizer_id},
            pesticides_id=#{pesticides_id},
            seedling_id=#{seedling_id},
            date=#{date},
            remarks=#{remarks}
        where id=#{id}
    </update>

</mapper>